.themeFontColor {
  color: crimson;
}

tr {
  cursor: pointer;
}

.head {
  background-color: #CB240C;
  color: #31711E;
}

.webBody {
  color: #CB240C;
  background-color: #31711E;
}

.centerHorizontal {
  margin: 0 auto;
}